/* Medias Queries */


/* Medias Queries Aplicada a la pagina de inico */


@media (max-width: 960px) {
    /* Ocultar el h1 en pantallas más pequeñas */
    div h1 {
        display: none;
    }
    
}
/* tablets */
@media (max-width: 740px) {
    /* Ocultar el h1 en pantallas más pequeñas */
    .logo {
        display: none;
    }

    nav ul{
        justify-items: center;


    }
    .contenedor_index_ad {
        display: grid;
        grid-template-columns:  1fr 1fr;
        grid-template-rows:1fr 1fr;
        gap: 5px;
        grid-auto-flow: row;
        grid-template-areas:
            " info info"
            " info info"
            " ad ad"
            " ad ad";
        padding: 20px; 
        background-color: #f2f2f2; 
    }

}

/* celulares */

@media (min-width:350px) and (max-width:660px){
    /* estilos al Header */
    header {
        margin:0;
        background-color: #cecece;
    }

    /*  Barra de navegacion en Columna, alineo a la izquierda */
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 350px;
        
    }
    /*  Aumento el tamaño de la barra de navegacion */
    nav li a{
        font-size: 2rem;
     
    }

    /*  videos uno debajo del otro. */
    .seccion_videos{
        display: flex;
        flex-direction: column;
    }

    /*Footer en flex orientacion columnas.*/
    footer{
        display: flex;
        flex-direction: column;
    }

    /* Seccion inicio presentacion*/

    .noticias p{
        font-size: 1.5rem;
        line-height: 1.5;
   
    }
    .noticias{
        overflow: hidden;
    }

    nav ul li a:hover{
        cursor: pointer;
    }
    
}


/* Medias Queries Pagina Analisis de Datos */

/* Celulares*/


@media (min-width:350px) and (max-width:660px){

    .formulario{
        width:100%;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 5px;
    }

    .analisis{
        width: 70%;
        margin-left: 25px;
        margin-right: 25px;
    }

    .tablas{
        width: 100%;
    }
    table{
        width: 90%;
        margin-left: 50px;
        margin-right: 50px;

    }

    td,th{
        text-align: center;
        font-size: 0.65rem;
        padding: 03px;
        margin: 3px;
        text-transform: lowercase;
    }
}

/* tablets */

@media (min-width:661px) and (max-width:987px){
    .formulario{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .analisis{
        width: 100%;
        align-items:flex-start;
        justify-content:flex-start;


    }
    .tablas{
        width: 100%;
    }
    table{
        margin-left: 10px;
        margin-right: 10px;
    }

    .conclusion{
        margin-left: 10px;
        margin-right: 10px;
    }
}
